*background: #0d1317
*foreground: #cccccc
*cursorColor: #cccccc

! black
*color0: #0d1317
*color8: #0f182d
! red
*color1: #101d42
*color9: #251573
! green
*color2: #3a0ca3
*color10: #5038bf
! yellow
*color3: #6564db
*color11: #779bdc
! blue
*color4: #80b7dc
*color12: #89d2dc
! magenta
*color5: #068d9d
*color13: #2d739c
! cyan
*color6: #53599a
*color14: #4b518c
! white
*color7: #cccccc
*color15: #E8E8E8

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #1E272B, #9D6A47, #9D6A47
rofi.color-normal: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-active: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-urgent: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true

xterm*faceName: Hack
xterm*faceSize: 11
xterm*renderFont: true
